<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222889111252-t8e7n1ikc10tqpuse1rfgh095okma4qp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222889111252-t8e7n1ikc10tqpuse1rfgh095okma4qp</string>
	<key>API_KEY</key>
	<string>AIzaSyAVDHnWKsnCHNRFvyblAdOCK6HwWzBrS9o</string>
	<key>GCM_SENDER_ID</key>
	<string>222889111252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appdayproject.appDayProject</string>
	<key>PROJECT_ID</key>
	<string>app-day-assign</string>
	<key>STORAGE_BUCKET</key>
	<string>app-day-assign.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222889111252:ios:6cbacb16b33a3dffbbd541</string>
</dict>
</plist>